.video-grid {
  margin: 135px 30px 30px 260px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 250px);
  column-gap: 15px;
  row-gap: 50px;
}

@media (max-width: 1430px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 990px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

.video-preview {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.preview_image-container {
  position: relative;
  border-radius: 10px;
}

.timecode {
  position: absolute;
  background-color: var(--background-color);
  font: bold 12px Arial;
  border-radius: 5px;
  padding: 2px 5px;
  bottom: 7px;
  right: 4px;
}

.video_info-preview {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.preview-channel-photo {
  margin: 10px 0px;
}

.preview-info {
  margin: 10px 0px 10px 10px;
}

.preview-image {
  border-radius: 10px;
  width: 100%;
}

.channel-photo {
  width: 100%;
  border-radius: 100%;
}

.channel-name {
  color: rgb(170, 170, 170);
  margin-top: 10px;
  margin-bottom: 2px;

  transition: 
    color 0.15s,
    font-size 0.5s,
    margin-top 0.5s;
}
.channel-name.subscriders-mode {
  color: white;
  font-size: 16px;
  margin-top: 2px;
}

.preview-title {
  font-weight: bold;
  margin: 0px;

  max-height: 50px;
  transition: 
    max-height var(--height-time), 
    opacity var(--opacity-time);
}
.preview-title.hided {
  max-height: 0;
  opacity: 0;
}

.preview-statistic {
  color: rgb(170, 170, 170);
  margin: 0px;

  max-height: 50px;
  transition: 
    max-height var(--height-time), 
    opacity var(--opacity-time);
}
.preview-statistic.hided {
  max-height: 0;
  opacity: 0;
}

.chanel-subscriders {
  color: rgb(170, 170, 170);
  margin: 0;
  opacity: 0;
  max-height: 0;

  transition: 
    max-height var(--height-time),
    opacity var(--opacity-time);
}
.chanel-subscriders.showed {
  opacity: 1;
  max-height: 50px;
}
